{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Main</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ article.h1 }}</li>
                </ol>
            </nav>
            <img class="img-fluid rounded " src="{{ article.image.url }}" alt="">
            <hr>
            <p class="lead">
            {{ article.content|safe }}
            </p>
            <hr>
            <p class="lead text-right">Author: {{ article.author }}</p>
            <hr>
            <p class="text-right">Publicate: {{ article.created_at }}</p>
            <hr>
            {% include 'comments.html' %}
        </div>
        {% include 'aside.html' %}
    </div>
</div>
</div>
{% endblock %}