{% extends 'base.html' %}
{% load static %}
{% block title %}Спасибо{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Main</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contacts</li>
                </ol>
            </nav>
            <p class="lead">Your message succussfully delivered!</p>
        </div>
    </div>
</div>
</div>
{% endblock %}