<div class="col-md-4">
    <div class="card my-4">
        <h5 class="card-header">Tags</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Django</a>
                        </li>
                        <li>
                            <a href="#">VueJS</a>
                        </li>
                        <li>
                            <a href="#">DRF</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">NuxtJS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Last Articles</h5>
        <div class="card-body">
            <h5 class="card-title">...</h5>
            <p class="card-text">...</p>
            <a href="#" class="card-link">...</a>
        </div>
        <hr>
    </div>
</div>